@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #EFEEF4;

}
.App{ 
  font-family: 'Kanit', sans-serif;
}
 .footer a{
  text-decoration: none;
  color: black;
  line-height: 30px;
  transition: 0.5s;
}
 .footer a:hover{
   color: #cf2e2e;
}
.nav-container{
  background-color: #e9eae5;
  height: 60px;
}
.slick-prev:before, .slick-next:before{
  display: none !important;
}
.carousel-item{
  position: relative;
  height: 90vh;
  border-radius: 0 0 100px 100px;
}
 .item-one{
   background-image: url('./images/slider1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .item-two{
   background-image: url('./images/slider2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .item-three{
   background-image: url('./images/slider3.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .carousel-control-prev-icon{
   background-color: green !important;
 }
 .carousel-control-next-icon{
  background-color: green !important;
 }
 .carousel-indicators [data-bs-target]{
   height: 4px !important;
   width: 4px !important;
   margin: 10px !important;
   background-color: green !important;
 }
  .card-info{
    background-color: var(--primary-color);
  }
  .btn-category a{
    color: #cf2e2e;
    transition: 0.5s;
    cursor:pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
  }
   
  .btn-category a:hover{
    color:#abb8c3;
  }
  .category-card{
    transition: 0.5s;
    border-radius: 10px !important;
    overflow: hidden;
  }
  .category-card:hover{
    box-shadow: 10px 10px 40px  #abb8c3;
  }
  .collection-banner{
  background-image: url('./images/collection-bg.jpg');
  background-size:cover;
   background-position:bottom;
   background-repeat: no-repeat;
   height: 90vh;
   width: 100%;
    
  }
  .testimonial-container{
    overflow: hidden;
  }
  .nav-text{
    text-decoration: none;
    margin-right: 25px;
    color: #252525;
    font-weight: 500;
    padding: 5px 5px;
    text-transform: uppercase;
    transition: 0.5s; 
  }
  .nav-text:hover{
    color: #cf2e2e;
    background-color: green; 
    border-radius: 5px;
  }
  .store-container{
    background-color: var(--primary-color);
    
  }
  .store-banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.383), rgba(0, 0, 0, 0.377)), url('./images/about-bg-1.jpg');
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 80vh;
  }
  .sidebar{
    /* background-color: var(--primary-color); */
    height: 100vh;
  }
  .sidebar a{
    text-decoration: none;
    color: #252525;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
  }
  .shipping-form input{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
  }